@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  forced-color-adjust: none;
}

@layer base {
  :root {
    --color-bg: 18 18 18;
    --color-fg: 245 245 245 ;
    --color-muted: 166 166 166;
    --color-subtle: 61 61 61; 
  }
}
