---
  import { TextAlignJustify } from '@lucide/astro';
  import ThemeToggle from '../components/ThemeToggle.astro';
---

 <header class="flex justify-between items-center text-acent w-full container">
    <TextAlignJustify />
    <p class="">deviloper</p>
    <ThemeToggle />
  </header>