---
  import { TextAlignJustify } from '@lucide/astro';
  import ThemeToggle from '../components/ThemeToggle.astro';
---

 <header class="flex justify-between items-center text-acent w-full container">
    <p class="flex flex-col">
      <span class="">Daniel</span>
      <span class="hidden md:flex">Carbajal</span>
    </p>
    
    <nav class="hidden md:flex flex-1">
      <ul class="flex w-full justify-evenly">
        <li>About</li>
        <li>Projects</li>
        <li>Articles</li>
        <li>Contats</li>
      </ul>
    </nav>
    <TextAlignJustify class='md:hidden'/>
    <ThemeToggle />
  </header>