---

---


<div class="flex flex-col md:flex-row w-full pt-12 gap-0 container">
  <div class="max-w-[700px]">

    <p class="font-firaCode text-lg md:text-[14px] mb-6 w-full text-muted leading-tight lg:text-lg"><span class="text-focus font-firaCode font-bold">&lt;span&gt;</span> Hey, I'm Daniel <span class="text-focus font-firaCode font-bold">&lt;/span&gt;</span></p>

    <h1 class="font-firaCode text-fg text-[5rem] xs:text-8xl mb-6 font-semibold leading-tight flex flex-col tracking-wide">
      <span class="text-focus">{`{Front-end}`}</span> 
      <span class="self-end md:self-start">Developer__</span>
    </h1>

    <p class="font-firaCode text-lg md:text-[14px] mb-6 w-full text-muted leading-tight lg:text-lg">
      <span class="text-focus font-firaCode font-bold">&lt;p&gt; </span>Desarrollo interfaces basadas en <span class="text-fg italic">código mantenible, limpio </span> y <span class="text-fg italic">fácil de entender </span>, logrando que el proceso de trabajo sea siempre fluido y disfrutable. <span class="text-focus font-firaCode font-bold">&lt;p&gt;</span>
    </p>


  </div>

</div>
