---
import { ArrowRight } from '@lucide/astro'
---

<button class="flex items-center gap-3 mb-20 w-72">
  <span class="flex-1 bg-foreground text-background font-bold italic py-3 rounded-full">Projects</span>
  <span class="bg-foreground text-background p-3 rounded-full"><ArrowRight/></span>
</button>