---
import { ArrowRight } from '@lucide/astro'
---

<button class="flex items-stretch gap-3 w-72 text-lg group">
  <span class="flex-1 items-center bg-fg text-bg font-bold italic rounded-full">Projects</span>
  <span class="flex items-center justify-center p-3 bg-fg text-bg rounded-full"><ArrowRight/></span>
</button>
